.header-toolbar button+button {
	margin-left: 1px !important
}

#twitch-player-display-label {
	color: #FFF;
	font-size: 14px;
	margin-right: 10px;
	vertical-align: middle;
}

#twitch-switch {
	background-color: #282b30;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}

#twitch-switch i {
	transition: color 0.25s ease;
	margin-right: 15px;
	color: #aeafb1;
	cursor: pointer;
}

#twitch-switch i:hover {
	color: #FFF;
}

#gdq-header {
	background: #36393e;
	overflow: hidden;
	z-index: 1000;
	border-bottom: 1px solid #282b30
}

.extension-container {
	width: 98%;
	margin: 0 auto;
	padding-top: 10px;
	font-size: 16px;
	color: #FFF;
}

.game-information {
	margin-left: 10px;
}

.game-information a {
	text-decoration: none;
}

#gdq-runners-information {
	float: none;
}

#gdq-speedrun-link {
	float: none;
}

#next-game-title {
	margin-top: 14px;
	margin-left: 5px;
	margin-right: 0px;
}

#next-runners-information {
	margin-left: 5px;
}

#options i {
	transition: color 0.25s ease;
	margin-right: 15px;
	color: #aeafb1;
}

#options i.fa-refresh {
	margin-right: 0px;
}

#options i:hover {
	color: #FFF;
}

#schedule-table {
	width: 100%;
}

#schedule-table tr {
	border-top: 1px;
	border-style: solid;
	border-color: #FFF;
}

#schedule-table tr th{
	margin-right: 5px;
}

#schedule-table tr td:nth-child(3) {
	text-align: right;
	width: 95px;
}

#schedule-table tr a {
	text-decoration: none;
}

#schedule-table tr a:hover {
	text-decoration: none;
	color: #AAA;
}
